
body {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    background-color: #00172e;
    font-family: "Noto Sans Cham", sans-serif;
}

/* Navbar */
.topnav {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #5a0026, black, #5a0026);
    text-align: center;
    font-family: "Noto Sans Cham", sans-serif;
    border-bottom: 2px solid;
    border-color: #edbb00;

}


.navIcon {
    width: 40px;
    height: auto;
}

.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 14px;
  }

.topnav a:hover {
    color: #edbb00;
}

.topnav a.active {
    color: #edbb00;
  }

  .video-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px; /* Set the desired fixed height */
    overflow: hidden; /* Hide any content that overflows the container */
    background: linear-gradient(to bottom, #5a0026, rgba(0, 0, 0, 0));
}

.video-container video {
    
    width: 85%;
    height: 100%;
    object-fit: cover; /* Ensure the video fills the container */
    
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    filter: grayscale(50%);
}


.video-text-overlay {
    position: absolute;
    width: 85.05%;
    bottom: 0.1px; /* Adjust the distance from the bottom */
    left: 50%;
    transform: translateX(-50%); /* Center the text horizontally */
    text-align: center;
    color: white;
    background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0)); 
    border-bottom-left-radius: 19px;
    border-bottom-right-radius: 19px;
    
}
.video-text-overlay p {
    color: #edbb00;
    font-style: italic;
    margin-bottom: 5px;
}



/* Small devices (phones, 600px and up) */
@media only screen and (min-width: 600px) { ... }

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) { ... }

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) { ... }

/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) { ... }